html, body {
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, lightblue, lightgreen);
    background-size: auto 100%;
    box-sizing: border-box;
    overflow: auto;
}

#headerContent {
    flex-shrink: 10;
}

.contentContainer {
    text-align: center;
    margin-top: 10px;
    flex: 1 0 auto;
}

#footerContent {
    text-align: center;
}

#randomImageContainer {
    margin: 15px auto;
    max-width: 60%;
}
